*.o

Makefile
Makefile.in
aclocal.m4
autom4te.cache/*
bin/*
compile
config.h*
config.log
config.status
configure
depcomp
install-sh
missing
*/.deps
*/.dirstamp
*-report.xml
*-report.html
INSTALL
COPYING
