[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=MassifG
Exec=massifg %f
Comment=Visualize massif output
Type=Application
Categories=GTK;DataVisualization;Development;
Terminal=false
